@using Servicify.Models
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/home/index.css">
<div class="card-list">
    @foreach (var organization in Model)
    {
        var cardViewModel = new CardViewModel
                {
                    Title = organization.Name,
                    LogoSrc = "images/salon-logos/salon1.png" 
                };
        @await Html.PartialAsync("_Card", cardViewModel)
    }
    @*@await Html.PartialAsync("_Card", new CardViewModel{Title = "Салон красоты", LogoSrc = "images/salon-logos/salon1.png"})
    @await Html.PartialAsync("_Card", new CardViewModel{Title = "Снежинка", LogoSrc = "images/salon-logos/salon1.png"})
    @await Html.PartialAsync("_Card", new CardViewModel{Title = "Салон красоты Надежда", LogoSrc = "images/salon-logos/salon1.png"})*@
</div>
