.card {
    display: flex;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden; 
}
.card__content {
    flex: 2;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__salon-title {
    text-align: center;
    font-size: 29px;
}
.card__appointment-btn {
    align-self: center;
    width: 60%;
    height: 40%;
    font-size: 20px;
    color: white;
    background-color: #03A0D2;
    border-radius: 45px;
    border: none;
}
.card__salon-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.card__salon-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


