.card {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
}

.card__salon-title,
.card__appointment-btn {
    /* Стили для названия и кнопки (слева) */
    margin-right: 20px; /* Отступ справа между элементами */
}

.card__salon-logo {
    /* Стили для логотипа (справа) */
    flex-grow: 1; /* Занимает доступное пространство внутри flex-контейнера */
    height: 100%; /* Занимает всю доступную высоту внутри flex-контейнера */
}