.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.header__name {
    font-size: 36px;
    margin-bottom: 10px;
}

.header__btn {
    margin-right: 10px;
    font-size: 22px;
    color: white;
    background-color: #03A0D2;
    width: 132px;
    height: 59px;
    border-radius: 45px;
    border: none;
    margin-bottom: 10px;
}
