.login-box {
    width: 35%;
    height: auto;
    border: 1px solid black;
    margin: 5% auto 20px;
    padding: 20px;
    text-align: center;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.form-group input {
    width: 80%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.login-box__btn {
    width: 15%;
    max-width: 300px;
    padding: 10px;
    background-color: #1C6CD5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 50px;
    color: #1C6CD5;
}