@using Servicify.Models
@model Servicify.Core.Organization
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/organization/viewOne.css">
<div class="organization-container">
    <div class="organization-details">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
    </div>
    <div class="organization-buttons">
        <button class="create-btn">Создать предложение</button>
    </div>
</div>
<div class="service-list">
    @foreach (var service in Model.Services)
    {
        var serviceViewModel = new ServiceViewModel(service.Id, service.Name, "120", service.Cost);
        @await Html.PartialAsync("_ServiceCard", serviceViewModel)
    }
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var createButton = document.querySelector('.create-btn');
        createButton.addEventListener('click', function () {
            window.location.href = '/services/create';
        });
    });
</script>

