@using Servicify.Models
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/organization/viewOne.css">
<div class="organization-container">
    <div class="organization-details">
        <h2>Название организации</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa illum laboriosam laborum nemo praesentium repellendus saepe sapiente tenetur voluptatibus. Dolorum ducimus error fugit incidunt magni obcaecati ratione reiciendis sint!</p>
    </div>
    <div class="organization-buttons">
        <button class="subscribe-btn">Подписаться на организацию</button>
        <button class="contact-btn">Написать исполнителю</button>
    </div>
</div>
<div class="service-list">
    @*@foreach (var service in Model)
    {
        var serviceViewModel = new ServiceViewModel
        {
            Name = service.Name,
            Duration = service.Duration,
            Cost = service.Cost
        };
        @await Html.PartialAsync("_ServiceCard", serviceViewModel)
    }*@
    @await Html.PartialAsync("_ServiceCard", new ServiceViewModel(1, "Тест", "120", 300f))
    @await Html.PartialAsync("_ServiceCard", new ServiceViewModel(1, "Тест", "120", 300f))
    @await Html.PartialAsync("_ServiceCard", new ServiceViewModel(1, "Тест", "120", 300f))
</div>
