@page
@model OrganizationModel
@{
    ViewData["Title"] = "Организация";
}

<h1>Имя организации</h1>

@for (var i = 0; i < 10; i++)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Имя услуги @i</h5>
            <p class="card-text">Описание услуги @i</p>
            <button class="btn btn-primary">Записаться @i</button>
        </div>
    </div>
}