.booking-slot {
    width: 18%;
    margin: 0 1%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Comfortaa', sans-serif;
}

.slot-date {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.slot-time {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.btn-primary {
    background: linear-gradient(to bottom, #3498db 0%, #2980b9 100%);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(to bottom, #2980b9 0%, #3498db 100%);
    transition: background 0.3s ease;
}