@using Servicify.Application.Dtos;
@using Servicify.Core;
@using Servicify.Models;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@model Organization
<link rel="stylesheet" href="~/css/home/index.css">
<div class="organization-info">
    <h1>@Model.Name</h1>
    <h2>@Model.Description</h2>
    <h2>Предложения: @Model.Services.Count</h2>
</div>
<div class="card-list">
    @foreach (var service in Model.Services)
    {
        var serviceViewModel = new ServiceViewModel(service.Id, service.Name, "120", service.Cost);
        @await Html.PartialAsync("_ServiceCard", serviceViewModel)
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-book").click(function () {
            var serviceId = $(this).closest(".service-card").data("serviceid");
            window.location.href = "/time/" + serviceId;
        });
    });
</script>