@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/login-style.css">
<div class="main__content flex justify-between items-center pt-16">
    <div class="login__form">
        <form class="form__content" method="post" action="/auth/login">
            <h1 class="form__content-title">Войти как организация</h1>
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Name">Имя организации:</label>
                <input id="name" name="name">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password">
            </div>

            <button class="form__content-button login" type="submit">Войти</button>
            <div class="form__content-button">
                <a href="/auth/signup">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</div>
