@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/auth/register.css">
<div class="login-box">
    <h2>Регистрация</h2>
    <form method="post" action="/Account/Register">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
             <label for="password-repeat">Повтор пароля:</label>
             <input type="password" id="password-repeat" name="password-repeat">
        </div>
        <button class="login-box__btn" type="submit">Зарегистрироваться</button>
    </form>
</div>
