@model Servicify.Models.CardViewModel

<div class="main-block" data-id="@Model.CardId">
    <div class="block-info">
        <div class="block-name">@Model.Title</div>
        <button class="block-button">Просмотреть</button>
    </div>
    <div class="block-image">
        <img src="@Model.LogoSrc">
    </div>
</div>