<link rel="stylesheet" href="css/components/card.css">

<div class="card">
    <div class="card__salon-title">Title</div>
    <button class="card__appointment-btn">Записаться</button>
    <div class="card__salon-logo">
        <img src="images/salon-logos/salon1.png">
    </div>
</div>