@model Servicify.Models.CardViewModel

<link rel="stylesheet" href="~/css/components/card.css">

<div class="card" data-id="@Model.CardId">
    <div class="card__content">
        <div class="card__salon-title">@Model.Title</div>
    </div>
    <div class="card__salon-logo">
        <img src="@Model.LogoSrc">
    </div>
</div>