<footer class="footer">
    <div class="footer__content">
        <div class="footer__content-copyright">
            Copyright 2023
        </div>
        <div class="footer__content-info">
            8-800-555-35-35
        </div>
    </div>
</footer>