<link rel="stylesheet" href="~/css/components/header.css">

<div class="header">
    <div class="header__name">
        Servicify
    </div>
    <button class="header__btn">
        Профиль 
    </button>
</div>