<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/global.css">
</head>
<body>
@await Html.PartialAsync("_Header")

<div class="main-content">
    @RenderBody()
</div>

</body>
</html>