@model Servicify.Models.ServiceViewModel

<link rel="stylesheet" href="~/css/personal-style.css">

<div class="services__info lg:w-1/3 border" data-serviceid="@Model.Id">
    <div class="info__content">
        <div class="services__info-title">
            @Model.Name
        </div>

        <div class="services__price">
            @Model.Duration минут
            <br>
            Цена: @Model.Cost.
        </div>

        <button class="services__button">Записаться</button>
    </div>
</div>